<div class="row">
<div class="col-lg-2"></div>

<div class="col-lg-8">
  <div class="panel panel-default panel-primary">
    <div class="panel-heading">All Routines
      <%= link_to new_routine_url do %>
        <span class="glyphicon glyphicon-plus pull-right white-text"></span>
      <% end %>
    </div>
    <ul class="list-group">
      <% @routines.each do |routine| %>
        <li class="list-group-item">
          <%= routine.name %>
          <span class="pull-right">
            <%= link_to edit_routine_url(routine) do %>
              <span class="glyphicon glyphicon-pencil"></span>
            <% end %>
            <%= link_to routine_url(routine), method: "delete", data: {:confirm => 'Are you sure? This cannot be undone.'} do %>
              <span class="glyphicon glyphicon-remove"></span>
            <% end %>
          </span>
        </li>
        <% routine.exercise_groups.each do |group| %>
          <li class="list-group-item">
            <%= group.name %>
            <span class="pull-right">
              <%= link_to edit_routine_exercise_group_url(routine, group) do %>
                <span class="glyphicon glyphicon-pencil"></span>
              <% end %>
              <%= link_to routine_exercise_group_url(routine, group), method: "delete", data: {:confirm => 'Are you sure? This cannot be undone.'} do %>
                <span class="glyphicon glyphicon-remove"></span>
              <% end %>
            </span>
          </li>
        <% end %>
        <li class="list-group-item">
          <%= link_to "Add Group", new_routine_exercise_group_url(routine) %>
        </li>
      <% end %>
      <li class="list-group-item">
        <%= link_to "Add Routine", new_routine_url %>
      </li>
    </ul>
  </div>
</div>

<div class="col-lg-2"></div>
</div>
