<div class="row">
<div class="col-lg-2"></div>

<div class="col-lg-8">
  <div class="panel panel-default panel-primary">
    <div class="panel-heading">All Routines
      <%= link_to new_routine_url do %>
        <span class="glyphicon glyphicon-plus pull-right white-text"></span>
      <% end %>
    </div>
    <ul class="list-group">
      <% @routines.each do |routine| %>
        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-11" id="routine-<%= routine.id %>-name">
              <span class="glyphicon glyphicon-menu-down show-options-link"></span> <%= routine.name %>
            </div>
            <div class="col-xs-1">
              <%= link_to edit_routine_url(routine), title: "Edit the name of this Routine", remote: true do %>
                <span class="glyphicon glyphicon-pencil"></span>
              <% end %>
              <%= link_to routine_url(routine), data: {:confirm => 'Are you sure?'}, title: "Delete this Routine", :method => :delete do %>
                <span class="glyphicon glyphicon-remove"></span>
              <% end %>
            </div>
          </div>
        </li>
        <% routine.exercise_groups.each do |group| %>
          <li class="list-group-item options-group">
            <%= group.name %>
          </li>
        <% end %>
        <li id="routine-<%= routine.id %>-options" class="list-group-item options-group" style="display: none;">
          <%= link_to "Add an Exercise Group", new_routine_exercise_group_url(routine), remote: true %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="col-lg-2"></div>
</div>
